{{> navbar}}
<div class="container">
    <h1>Список постов</h1>
    <div class="row">
        {{#each posts}}
        <div data-post="{{_id}}" class="post-card col s12 m6">
            <div class="card">
                <div class="card-image">
                    {{#if dataValues.titleImg}}
                    <img src="/{{dataValues.titleImg}}">
                    {{else}}
                    <img src="/img/defaul.jpg">
                    {{/if}}
                    <span class="card-title">{{dataValues.title}}</span>
                    <span class="card-date">{{dataValues.createdAt}}</span>
                </div>
                <div class="card-content">
                    <h4>Автор: <span>{{dataValues.userLogin}}</span></h4>
                    <p>{{dataValues.text}}</p>
                </div>
                <div class="card-action">
                    <a href="/post/{{dataValues.id}}">Читать далее...</a>
                    {{#if @root.userPost}}
                    <a class="waves-effect waves-light btn" href="/edit/{{dataValues.id}}">Редактировать</a>
                    <button data-delElem="{{dataValues.id}}" class="post-btn btn waves-effect red" type="submit" name="action">Удалить</button>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>   
</div>